* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-size: 1.6rem;
    overflow-y: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

aside.sidebar-left#resizable {
    position: relative;
    min-width: 33rem;
    background-color: white;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

aside.sidebar-left {
    width: 40rem;
    top: 0;
    float: left;
    box-shadow: -5px 0 0 #f7f7f7 inset;
    z-index: 1000;
}

aside.sidebar-left .draghandle {
    position: absolute;
    z-index: 100;
    width: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: col-resize;
    float: right;
    /* background-color: red; */
}

.p1-all {
    padding: 1rem;
}

.avaliable-folders-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.avaliable-folder {
    padding: 1rem;
    transition: 0.2s all;
}

.avaliable-folder:hover {
    cursor: pointer;
    opacity: 0.9;
}

#pills-tabContent {
    min-height: 20rem;
    overflow-y: auto;
    width: 100%;
    padding: 0.8rem 1rem 1rem;
}

.load-cloud-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.load-cloud-button-container:not(:last-child) {
    margin-bottom: 1rem;
}

.load-cloud-button-container button {
    margin-right: 0.5rem;
}

.load-cloud-button {
    margin: 1rem 2rem 0 1rem;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.blocked {
    cursor: not-allowed;
}

.pipeline-container {
    width: 100%;
}

.pipeline-filter {
    border: 1.5px solid #666;
    margin: 0 1rem 0.5rem;
    border-radius: 2px;
}

.custom-collapsible {
    background-color: #ccc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s opacity ease;
}

.custom-collapsible-content {
    padding: 6px 18px;
    display: flex;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 2px;
    flex-direction: column;
    align-items: flex-start;
}

.custom-collapsible.active:hover {
    opacity: 0.8;
}

.remove-filter {
    cursor: pointer;
    border: none;
    background: none;
}

.filters-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filters {
    margin: 1rem 0;
}

.apply-filter {
    padding: 0.5rem 1rem;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.trash-icon {
    color: red;
    z-index: 10;
}

.trash-icon:hover {
    opacity: 0.8;
}


.custom-file-input:lang(en)~.custom-file-label::after {
    content: "";
}

.custom-file-label::after {
    right: -40px;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
}

.circle:hover {
    opacity: 0.8;
}

#clearPointAnalysis {
    display: none;
}

.tooltip {
    font-family: Georgia;
    font-size: 1.6rem;
}

.upload-cloud,
.left-buttons {
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
}

#pointAnalysisCloudButtons {
    display: none;
}

#pointAnalysisCloudButtons.show {
    display: flex;
}

#getPointAnalysisColor,
#getPointAnalysisSize {
    max-width: 45px !important;
}

.right-buttons {
    flex-shrink: 0
}

.upload-cloud > input {
    display: none;
}

.upload-cloud > button {
    border: 0;
}

.upload-cloud > label {
    cursor: pointer;
    text-overflow: ellipsis;
}

.upload-cloud span {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

textarea {
    font-size: 1.6rem !important;
}

.fiducial-point-title {
    font-size: 1.6rem !important;    
}
