* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
}

.sidemenu {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    width: 40rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.separator {
    width: 100%;
    height: 12px;
    background-color: red;
    margin: 0.5rem 0;
}

.p1-all {
    padding: 1rem;
}

.avaliable-folders-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.avaliable-folder {
    padding: 1rem;
    transition: 0.2s all;
}

.avaliable-folder:hover {
    cursor: pointer;
    opacity: 0.9;
}

.avaliable-clouds-container {
    min-height: 20rem;
    overflow-y: auto;
    width: 100%;
    padding: 0.8rem 1rem 1rem;
}

.load-cloud-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.load-cloud-button-container:not(:last-child) {
    margin-bottom: 1rem;
}

.load-cloud-button-container button {
    margin-right: 0.5rem;
}

.load-cloud-button {
    margin: 1rem 2rem 0 1rem;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.blocked {
    cursor: not-allowed;
}

.pipeline-container {
    width: 100%;
}

.pipeline-filter {
    border: 1.5px solid #666;
    margin: 0 1rem 0.5rem;
    border-radius: 2px;
}

/* Style the button that is used to open and close the collapsible content */
.custom-collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .custom-collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.custom-collapsible-content {
    padding: 6px 18px;
    display: flex;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 2px;
    flex-direction: column;
    align-items: flex-start;
}

.remove-filter {
    cursor: pointer;
    border: none;
    background: none;
}

.filters-container {
    display: flex;
    align-items: center;
}

.filters {
    margin: 1rem 0;
}

.apply-filter {
    padding: 0.5rem 1rem;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.trash-icon {
    color: red;
    z-index: 10;
}

.trash-icon:hover {
    opacity: 0.8;
}


.custom-file-input:lang(en)~.custom-file-label::after {
    content: "";
}

.custom-file-label::after {
    right: -40px;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
}

.circle:hover {
    opacity: 0.8;
}

#clearPointAnalysis {
    display: none;
}

.tooltip {
    font-family: Georgia;
    font-size: 1.6rem;
}

.upload-cloud > input {
    display: none;
}

.upload-cloud > button {
    border: 0;
}

.upload-cloud > label {
    cursor: pointer;
}

.upload-cloud span {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-left: 2px;
}

.upload-cloud-e {
    width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-left: 4px;
}

.ellipsis {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}


.active, .custom-collapsible:hover {
    background: none;
}

/* .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
  }
  .nav-tabs>li {
    float: none;
  } */

#stats > div {
    left: 40rem !important;
}